.search-div{
    margin: 10px 20px;
    padding: 10px 20px;
}
input[type=text]{
    width: 240px;
    height: 30px;
    margin-left: 20px;
    border: none; 
}
.changeBackground{  
    background-color: #fad7a0;
}
.search{
    background-color: rgb(249, 249, 250);
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    color: rgba(90, 84, 84, 0.678);
    font-weight: 600;
    padding: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.search:focus{
    outline: none !important;
    border: 2px solid rgba(214, 149, 27, 0.678);
}
span{
    color: rgba(110, 101, 101, 0.678);
    border: 2px solid rgba(110, 101, 101, 0.678) ;
    border-radius: 5px 0px 0px 5px;
    padding: 5px 6px;
    cursor: alias;
}